@use '../../styles/utils';

.chat {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  background-color: utils.$lavender-web;
  height: 95vh;
  width: 200vh;
  border-radius: 15px;
  padding: 15px;
}
