@use '../../styles/utils';

.chat {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 2.5fr 5fr 2.5fr;
  background-color: utils.$lavender-web;
  height: 600px;
  width: 1300px;
  border-radius: 15px;
}
