@use '../../styles/utils';

.friends-panel {
  background-color: utils.$color-side-panel;
  padding: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.friends-panel__search-bar {
  margin: 25px 0;
}
