.chatlify-logo {
  font-family: Dinosaur;
  color: #db2b39;
  font-size: 45px;
  text-align: center;
  margin: auto;
  width: fit-content;
  text-shadow: -2px -2px 0 #070707, 2px -2px 0 #070707, -2px 2px 0 #070707,
    2px 2px 0 #070707;
}

.chatlify-text {
  font-family: 'Comic Neue', cursive;
  font-size: 15px;
  margin: 0;
}
