@import-normalize;

@font-face {
  font-family: 'Dinosaur';
  src: url('/fonts/Dinosaur.ttf') format('truetype');
}

body {
  height: 100vh;
  background-image: url('/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
