/* Color Pallette */
$lavender-web: #eeeeff;
$xiketic: #0d0106;
$bdazzeled-blue: #28587b;
$cadet-blue: #51a3a3;
$radical-red: #ff3864;

$color-header: #0040ff;
$color-sentence: #424242;

$color-side-panel: #d7d7db;

/* Font */
$base-font: 'Lato', sans-serif;
$header-font: 18px;
$sentence-font: 12px;

/* Button */
@mixin default-button() {
  padding: 10px 30px;
  opacity: 50%;
  color: $lavender-web;
  border: none;
  transition: opacity 0.5s;
  font-family: $base-font;
  font-size: 15px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    opacity: 100%;
  }
}

.default-button {
  @include default-button();
}

.blue-button {
  @include default-button();
  background-color: $cadet-blue;
}

.red-button {
  @include default-button();
  background-color: $radical-red;
}
