/* Color Pallette */
$lavender-web: #eeeeff;
$xiketic: #0d0106;
$bdazzeled-blue: #28587b;
$cadet-blue: #51a3a3;
$radical-red: #ff3864;

$base-font: 'Lato', sans-serif;

@mixin button-color($color: #51a3a3) {
  background-color: $color;
  padding: 10px 30px;
  opacity: 50%;
  color: $lavender-web;
  border: none;
  transition: opacity 0.5s;
  font-family: $base-font;
  font-size: 15px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    opacity: 100%;
  }
}

.blue-button {
  @include button-color;
}

.red-button {
  @include button-color($color: $radical-red);
}
